body{
    
    /* height: 100%;
    width: 100%; */
    background:linear-gradient(to right,#0066ff 50%
    ,white 50%,white) ;
}


.navbar-nav .nav-link:hover {
    text-decoration-line: underline;
         
    /* border-bottom: 2px solid white;
    transition-duration: 1s;

    font-weight: bold;
    background-color: blueviolet;
    
 */
 /* opacity: .5;
 transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1); */
 
}

.conn{
display: flex; 
max-width: 1200px;
height: auto;
background-color: transparent;
margin-left: auto;
margin-right: auto;
flex-wrap: wrap;


/* margin-left: auto;
margin-right: auto; */


}
.contact{
text-align:left;
/* display: flex; */
font-weight: 800;
font-family: cursive;
color: blanchedalmond;
width: 50%;


}



.contact a {
    text-decoration:none;
    color: white;
    
    
}
div.social{

 justify-content: left;
}
.contact .social a{

text-decoration:none;
color: black;
padding:10px;

}

.contact .social a b{

    font-family: cursive;
    font-weight: 700;
color: white;
}

.contact .social a.fa.fa-facebook::before{
color: blue;
background-color:white;
font-size: 20px;
border-radius: 50%;
padding: 5px 9px;


}

.contact .social a.fa.fa-instagram::before{
    color: black;
    background-color: white;
    
    font-size: 20px;
    border-radius: 50%;
    padding: 5px 7px;
    
    
    }

    .contact .social a.fa.fa-twitter::before{
        color: blue;
        background-color:white;
        
        font-size: 20px;
        border-radius: 50%;
        padding: 5px 6px;
        
        
        }

        .contact .social a.fa.fa-youtube::before{
            color: red;
            background-color: white;
            
            font-size: 20px;
            border-radius: 50%;
            padding: 6px 7px;
            
            
            }

            .contact a.fa.fa-envelope::before{
                color: red;
                background-color: white;
                font-size: 20px;
                border-radius: 50%;
                padding: 6px 7px;
                
                
                }

                .contact a.fa.fa-envelope,a.fa.fa-home,a.fa.fa-phone{

                    padding: 8px;
                }

                .contact a.fa.fa-home::before{
                    color:black;
                    background-color: white;
                    font-size: 20px;
                    border-radius: 50%;
                    padding: 6px 7px;
                    
                    
                    }

                    .contact a.fa.fa-phone::before{
                        color:green;
                        background-color: white;
                        font-size: 20px;
                        border-radius: 50%;
                        padding: 6px 7px;
                        
                        
                        }

                        input{
                            border:2px solid black;
                        color:black;
                            border-radius:20px;
                            padding: 5px;
                            margin: 2px;
                            font-family: cursive;
                            height: 30px;
                            width: 300px;
                            font-size:15px;
                 }
                     h1{
                         color:yellow;
                         text-align:center;
                         } 



                     table{
                        background-image: url(https://i.pinimg.com/originals/38/d0/e7/38d0e742ff5c559733569ce5d1a3598b.jpg);
                        /* background-color: black; */
                        background-position: top;
                        background-size: 570px 500px;
                        background-repeat:no-repeat;
                           /* text-align:left; */
                         /* width: 100%; */
                           font-family:sans-serif;
                          
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 5%;
                        /* background: transparent; */
                        color:yellow;
                         font-size:20px;
                         
                         
                         
                          } 

                        #form{
                             width: 50%;
                             height: auto;

                         }

                         
        
                          
                 #reg{ background-color:#0066ff;
            
                 border:5px solid white;
                 height: 40px;
                      width:100px;
                     margin-top: 20px;
                     padding: 2px;
                     
                  }
                 #reg:hover{background-color: white;
                    border:5px solid #0066ff;
               
                }
                 #re{
                      background-color:#0066ff;
                 border: 5px solid white;
                 
                 height: 40px;
                 width:100px;
                      margin-top: 20px;
                      padding: 4px;
                  }
                 #re:hover{background-color: white;
                border: 5px solid #0066ff;
                }

                 textarea{
border-radius:5px ;
width: 300px;
font-size: 15px;
font-family: cursive;

                 }


                 @media (max-width:1000px){

                  
 
body{
    background:linear-gradient(180deg, #0066ff 70%
    ,white 70%,white);
}
               .contact{
                   width: 100%;
                   
               }    
                  

                 #form{
/* margin-left:auto;
margin-right:auto;
margin-top:80px;
width: 500px; */
width: 100%;




                 }
                    

                  

                 }

                
                 